body { margin: 0; font-family: 'Lato'; background-image: url("http://wallpapercraze.com/images/wallpapers/Optimized-chucknorrisapproved-364971.jpeg"); position: relative; background-size: cover; background-repeat: no-repeat; }

body .container { position: absolute; right: 0; top: 100px; width: 80%; max-width: 1000px; min-height: 1000px; margin: 0; padding: 20px; background-color: rgba(255, 255, 255, 0.6); }

body .container h1 { font-size: 50px; text-align: center; margin-bottom: 50px; }

body .container .btn { margin: 0 auto; display: block; text-transform: uppercase; font-weight: 700; font-size: 20px; border: #fff; background: #fff; color: #000; border-radius: 20px; min-height: 50px; min-width: 200px; cursor: pointer; transition: 0.3s; }

body .container .btn:hover { transform: scale(1.05, 1.05); }

body .container .haha { font-size: 30px; text-align: center; margin-top: 50px; }
